* {
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
}

header .box-left {
  background-color: yellow;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header .box-main {
  display: flex;
  justify-content: center;
  background-color: #00ECFF;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


header .box-main .box{
  display: flex;
  flex-direction: column;
}

header .box-main .box .text{
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

header .box-right {
  background-color: yellow;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

header .box-left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}










.search{
  margin-top: 5px;
  position: relative;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  overflow: hidden;
}

.search .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before
{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}

.search .icon::after
{
  content: '';
  position: absolute;
  width: 3px;
  height: 6px;
  background: #287dfc;
  transform: translate(6px,6px) rotate(315deg);
}

.search .input{
  position: relative;
  width: 300px;
  height: 30px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input 
{
  position: absolute;
  top: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px 0;
}

.clear{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}



















main .container{
  margin-top: 25px;
  background-color: aliceblue;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container .box-main-up{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .container .box-main-up .box-up-left{
  background-color: yellow;
  width: 33%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .container .box-main-up .box-up-right{
  background-color: #00ECFF;
  width: 33%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .container .box-main-down {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  background-color: aliceblue;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main .container .box-main-down .box-up-moreleft{
  background-color: aliceblue;
  width: 25%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main .container .box-main-down .box-up-left{
  background-color: yellow;
  width: 25%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


main .container .box-main-down .box-up-left .box-up-left-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

main .container .box-main-down .box-up-left .box-up-left-text .Titel{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

main .container .box-main-down .box-up-left .box-up-left-text .Beschrijving{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

main .container .box-main-down .box-up-right{
  background-color: #00ECFF;
  width: 25%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*vakantie foto1 in box-up-right*/

main .container .box-main-down .box-up-right img{
  display: flex;
  height: 300px;
  width: 100%;
}

main .container .box-main-down .box-up-moreright{
  background-color: aliceblue;
  width: 25%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}